<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="icon" href="/static/code.svg" sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container" id="container">
        <h1>Admin Login</h1>
        <form method="POST" action="/admin_page">
            <input type="password" name="password" placeholder="Enter Password" required>
            <button type="submit">Login</button>
        </form>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
