<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/code.svg" sizes="any" type="image/svg+xml">
    <title>Your Personal Link</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Your Personal Link</h1>
        <p>Keep checking this link for responses to your questions/confessions or for further discussion.</p>
        <a href="{{ link }}">{{ link }}</a>
    </div>
</body>
</html>
